<!DOCTYPE <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pedra, papel, tesoura, lizard e spock</title>
  <link rel="stylesheet" href="../public/styles.css">

</head>

<body>
  <header>
    <h1>Pedra, Papel, Tesoura, Lizard e Spock</h1>
  </header>

  <div class="placar">
    <div id="user-label" class="badge">Usuário</div>
    <div id="computer-label" class="badge">Máquina</div>
    <span id="user-score">0</span>:<span id="computer-score">0</span>
  </div>

  <div class="resultado">
    <p>Selecione o elemento!</p>
  </div>

  <div class="escolhas">
    <div class="escolha" id="pe">
      <img src="../public/assets/pedra.png" width="250" height="145" alt="">
    </div>
    <div class="escolha" id="pa">
      <img src="../public/assets/papel.png" width="250" height="145" alt="">
    </div>
    <div class="escolha" id="te">
      <img src="../public/assets/tesoura.png" width="250" height="145" alt="">
    </div>
    <div class="escolha" id="la">
      <img src="../public/assets/lizard.png" width="250" height="145" alt="">

    </div>
    <div class="escolha" id="sp">
      <img src="../public/assets/spock.png" width="250" height="145" alt="">

    </div>

  </div>

  <p id="action-message">Faça sua jogada!</p>
  <script src="../public/scripts.js" charset="utf-8"></script>

</body>

</html>